@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  position: relative;
  overflow-x: hidden;
}

.notfoundbtn {
  font-size: 0.8rem;
  border: 0.175em solid #188ab8;
  padding: 1.4em 3.3em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border-radius: 0.5em;
  cursor: pointer;
  color: #ffffff;
  background-image: linear-gradient(45deg, transparent 50%, #188ab8 50%);
  background-position: 25%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.notfoundbtn:hover {
  color: #ffffff;
  background-position: 100%;
}

.notfoundbtn:focus {
  outline: none;
}

